body { 
    background-color: DarkTurquoise;
    }

h1.aboutme, h4 {
    color: white;
    font-style: italic;
}

.lead p {
    color: Azure;
}

.class p {
    color: white;
}

#first {
    font-size: 3em;
}
